* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: white;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Electrolize", sans-serif;
  letter-spacing: 1px;
  margin-top: 0; }

p {
  margin: 0 0 1.6rem; }

a {
  color: #9fe3f6;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover, a:active {
    color: white;
    text-shadow: 0 0 0.4rem rgba(131, 161, 199, 0.25);
    transition: all 0.3s; }

hr {
  border: none;
  height: 1px;
  background: #83a1c7;
  box-shadow: 0 0 0.3rem #9fe3f6; }

strong, b {
  font-weight: 500; }

#mg-wrapper {
  transition: all 0.4s;
  margin-top: 1rem;
  padding-top: 2rem; }

#mg-imgBG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  min-height: 100%;
  min-width: 100%;
  height: auto; }

#mg-scanlineBG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: url("../img/Scanline_320x240x4 copy.png"); }

#mg-gridBG {
  position: fixed;
  top: 50%;
  margin-top: -28.125rem;
  left: 50%;
  margin-left: -38.5rem;
  width: 77rem;
  height: 56.25rem;
  z-index: -10;
  opacity: 0.5; }

#mg-dotBG {
  position: fixed;
  top: 0;
  left: 50%;
  width: 57.75rem;
  margin-left: -28.875rem;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  opacity: 1;
  z-index: -1; }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    border-top: 1px solid white;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin: 0;
    position: relative; }
    ul li:before {
      content: '';
      position: absolute;
      background: url("../img/hex-bullet.svg") no-repeat;
      top: 0.85rem;
      left: 0.25rem;
      width: 16px;
      height: 16px;
      color: white; }
    ul li.active {
      color: #75aaa2; }
    ul li ul {
      margin-top: 0.5rem; }
  ul.mg-radio, ul.mg-checkbox {
    padding: 0; }
    ul.mg-radio li, ul.mg-checkbox li {
      border: none;
      padding: 0.5rem 0.5rem 0.5rem 1.75rem; }
      ul.mg-radio li:before, ul.mg-checkbox li:before {
        display: none; }
      ul.mg-radio li label, ul.mg-checkbox li label {
        margin-bottom: 0; }

dl dt {
  font-weight: 500; }
dl dd {
  color: #75aaa2;
  font-style: italic;
  margin-left: 1rem; }

table {
  width: 100%;
  border: 1px solid #83a1c7;
  border-collapse: collapse;
  box-shadow: inset 0 0 0.75rem rgba(131, 161, 199, 0.5), 0 0 0.5rem rgba(131, 161, 199, 0.6);
  margin-bottom: 0.5rem; }
  table caption {
    text-align: left;
    font-family: "Electrolize", sans-serif;
    margin: 0.25rem 0; }
  table thead, table tfoot {
    background: rgba(131, 161, 199, 0.3);
    font-weight: 500; }
  table th, table td {
    padding: 0.25rem;
    border: 1px solid #83a1c7; }
  table tr:nth-child(even) {
    background: rgba(117, 170, 162, 0.2); }
  table tr:hover {
    background: rgba(159, 227, 246, 0.4); }

fieldset {
  border: 1px solid #83a1c7;
  box-shadow: inset 0 0 0.75rem rgba(131, 161, 199, 0.5), 0 0 0.5rem rgba(131, 161, 199, 0.6);
  padding: 0.5rem 1rem; }
  fieldset legend {
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    padding: 0 0.25rem;
    margin-left: -0.25rem; }

label {
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.3s;
  color: #75aaa2; }
  label.mg-inline {
    position: relative;
    z-index: 1;
    padding-top: 0.875rem; }
    label.mg-inline span.mg-label {
      position: absolute;
      top: 0.95rem;
      left: 1px;
      transition: all 0.2s;
      z-index: -1; }
      label.mg-inline span.mg-label.mg-moved {
        top: 0;
        font-size: 0.75rem;
        transition: all 0.2s; }

input[type='text'], input[type='password'],
input[type='url'], input[type='email'], input[type='date'],
input[type='datetime-local'], input[type='file'],
input[type='tel'], textarea, select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #83a1c7;
  letter-spacing: 0.5px;
  background: transparent;
  line-height: 1.6;
  box-shadow: inset 0 -1.3rem 2rem -2rem rgba(159, 227, 246, 0.6);
  transition: all 0.3s;
  color: rgba(159, 227, 246, 0.9); }
  input[type='text']:focus, input[type='password']:focus,
  input[type='url']:focus, input[type='email']:focus, input[type='date']:focus,
  input[type='datetime-local']:focus, input[type='file']:focus,
  input[type='tel']:focus, textarea:focus, select:focus {
    outline: none;
    color: white;
    border-color: #9fe3f6;
    box-shadow: inset 0 -1.3rem 2rem -2rem #9fe3f6;
    transition: all 0.3s; }
  input[type='text']:disabled, input[type='password']:disabled,
  input[type='url']:disabled, input[type='email']:disabled, input[type='date']:disabled,
  input[type='datetime-local']:disabled, input[type='file']:disabled,
  input[type='tel']:disabled, textarea:disabled, select:disabled {
    opacity: 0.5; }
  input[type='text'][readonly], input[type='text'][readonly="readonly"], input[type='password'][readonly], input[type='password'][readonly="readonly"],
  input[type='url'][readonly],
  input[type='url'][readonly="readonly"], input[type='email'][readonly], input[type='email'][readonly="readonly"], input[type='date'][readonly], input[type='date'][readonly="readonly"],
  input[type='datetime-local'][readonly],
  input[type='datetime-local'][readonly="readonly"], input[type='file'][readonly], input[type='file'][readonly="readonly"],
  input[type='tel'][readonly],
  input[type='tel'][readonly="readonly"], textarea[readonly], textarea[readonly="readonly"], select[readonly], select[readonly="readonly"] {
    font-style: italic;
    color: rgba(159, 227, 246, 0.7); }
    input[type='text'][readonly]:focus, input[type='text'][readonly="readonly"]:focus, input[type='password'][readonly]:focus, input[type='password'][readonly="readonly"]:focus,
    input[type='url'][readonly]:focus,
    input[type='url'][readonly="readonly"]:focus, input[type='email'][readonly]:focus, input[type='email'][readonly="readonly"]:focus, input[type='date'][readonly]:focus, input[type='date'][readonly="readonly"]:focus,
    input[type='datetime-local'][readonly]:focus,
    input[type='datetime-local'][readonly="readonly"]:focus, input[type='file'][readonly]:focus, input[type='file'][readonly="readonly"]:focus,
    input[type='tel'][readonly]:focus,
    input[type='tel'][readonly="readonly"]:focus, textarea[readonly]:focus, textarea[readonly="readonly"]:focus, select[readonly]:focus, select[readonly="readonly"]:focus {
      color: white; }

textarea, select {
  border: 1px solid #83a1c7;
  padding: 0.5rem;
  box-shadow: inset 0 0 0.5rem rgba(159, 227, 246, 0.6), 0 0 0.5rem rgba(159, 227, 246, 0.4); }
  textarea:disabled, select:disabled {
    box-shadow: none; }

input[type="file"] {
  border-bottom: none; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + span {
    position: relative; }
    input[type="checkbox"] + span:before {
      position: absolute;
      top: -0.1rem;
      left: -1.7rem;
      content: '';
      width: 1.1rem;
      height: 1.1rem;
      display: block;
      border: 1px solid rgba(159, 227, 246, 0.8);
      transition: all 0.3s; }
    input[type="checkbox"] + span:after {
      position: absolute;
      opacity: 0;
      top: -0.23rem;
      left: -1.8rem;
      content: url("../img/check.svg");
      width: 1rem;
      height: 1rem;
      display: block;
      transition: all 0.3s; }
  input[type="checkbox"]:checked + span:before {
    border-color: rgba(255, 255, 255, 0.7);
    background: rgba(117, 170, 162, 0.7);
    box-shadow: 0 0 0.5rem rgba(159, 227, 246, 0.8);
    transition: all 0.3s; }
  input[type="checkbox"]:checked + span:after {
    opacity: 1;
    transition: all 0.3s; }
  input[type="checkbox"]:disabled + span {
    color: #83a1c7;
    opacity: 0.5; }
    input[type="checkbox"]:disabled + span:before {
      border-color: rgba(131, 161, 199, 0.8); }

input[type="radio"] {
  display: none; }
  input[type="radio"] + span {
    position: relative; }
    input[type="radio"] + span:before {
      position: absolute;
      top: 0.05rem;
      left: -1.55rem;
      content: '';
      width: 0.75rem;
      height: 0.75rem;
      display: block;
      border: 1px solid rgba(159, 227, 246, 0.8);
      border-radius: 1000px;
      transition: all 0.3s;
      transform: scale(0.75); }
  input[type="radio"]:checked + span:before {
    border-color: rgba(255, 255, 255, 0.7);
    background: #75aaa2;
    transition: all 0.3s;
    box-shadow: 0 0 0.5rem rgba(159, 227, 246, 0.8);
    transform: scale(1); }
  input[type="radio"]:disabled + span {
    color: #83a1c7;
    opacity: 0.5; }
    input[type="radio"]:disabled + span:before {
      border-color: rgba(131, 161, 199, 0.8); }

button {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  transition: all 0.3s; }
  button + button {
    margin-left: 2rem; }
  button.mg-simple {
    background: rgba(47, 69, 97, 0.8);
    border: 2px solid rgba(159, 227, 246, 0.8);
    padding: 0.5rem 1rem;
    margin-top: 0.4rem;
    min-width: 5rem;
    text-align: center;
    box-shadow: 0 0 0.375rem rgba(159, 227, 246, 0.5), inset 0 0 0.375rem rgba(159, 227, 246, 0.4); }
    button.mg-simple:hover {
      background: rgba(131, 161, 199, 0.6); }
  button:focus {
    outline: none; }
  button.mg-action, button.mg-cancel, button.mg-nav {
    background: none;
    border: none;
    position: relative;
    padding-top: 1rem;
    padding-left: 1.15rem;
    color: #AAFBCA;
    transition: all 0.5s;
    z-index: 2;
    outline: none; }
    button.mg-action svg, button.mg-cancel svg, button.mg-nav svg {
      position: absolute;
      top: 0;
      left: -5px;
      z-index: -1; }
      button.mg-action svg path.body, button.mg-cancel svg path.body, button.mg-nav svg path.body {
        fill: rgba(47, 69, 97, 0.2);
        stroke: rgba(159, 227, 246, 0.8);
        stroke-width: 2px;
        transition: all 0.5s; }
      button.mg-action svg path.outline, button.mg-cancel svg path.outline, button.mg-nav svg path.outline {
        fill: transparent;
        stroke: #9fe3f6;
        stroke-width: 2px;
        transition: all 0.5s; }
    button.mg-action:hover, button.mg-cancel:hover, button.mg-nav:hover {
      color: white;
      transition: all 0.5s; }
      button.mg-action:hover svg path.body, button.mg-cancel:hover svg path.body, button.mg-nav:hover svg path.body {
        fill: rgba(117, 170, 162, 0.5);
        stroke: white;
        transition: all 0.5s; }
      button.mg-action:hover svg path.outline, button.mg-cancel:hover svg path.outline, button.mg-nav:hover svg path.outline {
        stroke: white;
        transition: all 0.5s; }
  button.mg-cancel {
    color: #EF7878; }
    button.mg-cancel svg path.body, button.mg-cancel svg path.outline {
      stroke: #F69F9F; }
    button.mg-cancel svg path.body {
      fill: rgba(174, 57, 57, 0.05); }
    button.mg-cancel:hover {
      color: white; }
      button.mg-cancel:hover svg path.body {
        fill: rgba(239, 120, 120, 0.3);
        stroke: #EF7878; }
      button.mg-cancel:hover svg path.outline {
        stroke: #EF7878; }
  button.mg-nav {
    color: white;
    position: relative;
    font-size: 0.875rem;
    padding-top: 0.875rem; }
    button.mg-nav svg path.body {
      fill: transparent;
      stroke: white;
      shape-rendering: auto;
      stroke-width: 2px; }
    button.mg-nav svg path.outline {
      stroke: white;
      opacity: 0; }
    button.mg-nav:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.9); }
      button.mg-nav:hover svg path.body {
        fill: transparent; }
      button.mg-nav:hover svg path.outline {
        opacity: 1; }

.mg-panel {
  max-width: 64rem;
  margin: 0 auto;
  border: 2px solid rgba(159, 227, 246, 0.8);
  padding: 1rem;
  background: rgba(47, 69, 97, 0.7);
  box-shadow: inset 0 0 2.5rem rgba(131, 161, 199, 0.5), 0 0 2rem rgba(131, 161, 199, 0.4);
  margin-bottom: 0.5rem; }
  .mg-panel h1 {
    color: #9fe3f6;
    text-shadow: 0 0 0.4rem rgba(131, 161, 199, 0.25); }

img {
  box-shadow: 0 0 0.25rem rgba(159, 227, 246, 0.6); }

.mg-image {
  filter: grayscale(50%) opacity(50%);
  -webkit-filter: grayscale(50%) opacity(50%);
  box-shadow: 0 0 0.25rem #9fe3f6;
  transition: all 0.2s; }
  .mg-image:hover {
    transform: scale(1.1);
    filter: none;
    -webkit-filter: none;
    box-shadow: 0 0 0.5rem #9fe3f6;
    transition: all 0.2s; }

#mg-toast {
  position: fixed;
  bottom: 1rem;
  left: 1rem; }
  #mg-toast .mg-toast-content {
    padding: 0.75rem 1rem;
    min-width: 15rem;
    z-index: 2;
    transition: all 0.2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    transition: all 0.5s; }
    #mg-toast .mg-toast-content h3 {
      margin: 0 0 0.5rem; }
    #mg-toast .mg-toast-content p {
      margin: 0;
      padding-left: 0.5rem; }
    #mg-toast .mg-toast-content svg {
      z-index: -1;
      position: absolute;
      top: -3px;
      left: -3px; }
      #mg-toast .mg-toast-content svg path.body {
        fill: rgba(47, 69, 97, 0.8);
        stroke: #9fe3f6;
        stroke-width: 2px; }
      #mg-toast .mg-toast-content svg path.outline {
        fill: transparent;
        stroke: #9fe3f6;
        stroke-width: 2px; }
  #mg-toast.mg-show .mg-toast-content {
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    opacity: 1;
    transition: all 0.5s; }

#mg-modal {
  position: fixed;
  top: 200%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  z-index: 200;
  transition: all 0.3s;
  padding: 0 1rem 0.5rem; }
  #mg-modal .mg-modal-title {
    margin: 0.45rem 0 1rem;
    text-align: center; }
  #mg-modal svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    #mg-modal svg path.body {
      fill: rgba(47, 69, 97, 0.8);
      stroke: #9fe3f6;
      stroke-width: 2px; }
    #mg-modal svg path.title {
      fill: rgba(131, 161, 199, 0.8);
      stroke: #9fe3f6;
      stroke-width: 2px; }
    #mg-modal svg path.outline {
      fill: transparent;
      stroke-width: 2px;
      stroke: #9fe3f6; }
  #mg-modal.mg-show {
    top: 50%;
    transition: all 0.3s; }
    #mg-modal.mg-show ~ #mg-wrapper {
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      filter: blur(3px);
      transform: scale(0.93);
      transition: all 0.4s; }

#mg-modalOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 199;
  background: rgba(47, 69, 97, 0.5); }

.mg-progress {
  position: relative;
  display: none; }
  .mg-progress svg {
    position: absolute;
    top: 0;
    left: 0; }
    .mg-progress svg .fullPct {
      fill: #9fe3f6;
      display: none; }
    .mg-progress svg .progressBar {
      fill: #9fe3f6; }
  .mg-progress .pct {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 86.4px;
    text-align: center;
    font-family: "Electrolize", sans-serif; }

a.loading, a.loading:hover {
  color: #83a1c7;
  opacity: 0.8; }

.mg-sidebar {
  transform: perspective(600px) rotateY(-16deg);
  transform-style: preserve-3d; }

.mg-tab-group .mg-tab-content {
  display: none; }
  .mg-tab-group .mg-tab-content.active {
    display: block; }
.mg-tab-group ul.mg-tab-list {
  margin: 0 0 0.75rem;
  padding: 0;
  list-style: none; }
  .mg-tab-group ul.mg-tab-list li {
    border: none;
    display: inline;
    padding: 0;
    position: relative; }
    .mg-tab-group ul.mg-tab-list li:before {
      display: none; }
    .mg-tab-group ul.mg-tab-list li a {
      text-decoration: none;
      color: white;
      border: 2px solid #2f4561;
      padding: 0.25rem 0.5rem;
      position: relative;
      transition: all 0.3s; }
      .mg-tab-group ul.mg-tab-list li a:hover {
        border-color: #83a1c7;
        background: rgba(47, 69, 97, 0.5);
        transition: all 0.3s; }
      .mg-tab-group ul.mg-tab-list li a.active {
        background: rgba(47, 69, 97, 0.8);
        border: 2px solid rgba(159, 227, 246, 0.8);
        box-shadow: 0 0 0.375rem rgba(159, 227, 246, 0.5), inset 0 0 0.375rem rgba(159, 227, 246, 0.4); }
        .mg-tab-group ul.mg-tab-list li a.active:after {
          display: block;
          position: absolute;
          content: '';
          width: 0;
          border: 0.5rem solid transparent;
          border-top-color: #9fe3f6;
          bottom: -1rem;
          left: 50%;
          margin-left: -0.5rem; }

.mg-message {
  border: 1px solid #9fe3f6;
  padding: 1rem;
  box-shadow: 0 0 0.375rem rgba(159, 227, 246, 0.5), inset 0 0 1rem rgba(159, 227, 246, 0.4);
  background: rgba(47, 69, 97, 0.4);
  margin-bottom: 1rem; }
  .mg-message h3 {
    color: #9fe3f6;
    text-shadow: 0 0 0.4rem rgba(131, 161, 199, 0.25); }
  .mg-message p {
    margin: 0; }
  .mg-message.success {
    border-color: #AAFBCA;
    box-shadow: 0 0 0.375rem rgba(170, 251, 202, 0.5), inset 0 0 1rem rgba(170, 251, 202, 0.4);
    background: rgba(170, 251, 202, 0.2); }
    .mg-message.success h3 {
      color: #AAFBCA;
      text-shadow: 0 0 0.4rem rgba(170, 251, 202, 0.1); }
  .mg-message.warning {
    border-color: #F6F29F;
    box-shadow: 0 0 0.375rem rgba(246, 242, 159, 0.5), inset 0 0 1rem rgba(246, 242, 159, 0.4);
    background: rgba(174, 133, 57, 0.2); }
    .mg-message.warning h3 {
      color: #F6F29F;
      text-shadow: 0 0 0.4rem rgba(174, 133, 57, 0.25); }
  .mg-message.error {
    border-color: #F69F9F;
    box-shadow: 0 0 0.375rem rgba(246, 159, 159, 0.5), inset 0 0 1rem rgba(246, 159, 159, 0.4);
    background: rgba(174, 57, 57, 0.2); }
    .mg-message.error h3 {
      color: #F69F9F;
      text-shadow: 0 0 0.4rem rgba(174, 57, 57, 0.25); }
  .mg-message.small {
    text-align: center;
    padding: 0.25rem; }
  .mg-message.inline {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0; }
