@import "normalize";
@import "susy";

//Configuring Susy with a 10-column layout
$susy: (
  columns: 10,
  gutters: .25,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box
);

#mg-wrapper {
	@include container(80em);
}

.container {
	@include container(64rem);
}
.third {
	@include span(33%);
}

.center {
	display: block;
	margin: 0 auto;
}
.right {
	float: right;
}
.panel {
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
.mainContent {
	@include span(7);
	padding-right: 0;
}

.mg-sidebar {
	@include span(3);
	padding-left: 0;
}

